body{
    font-family: 'Poppins', sans-serif;

}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 6%;
}
.half-width img{
    width: 85%;
    text-decoration: none;
    padding: 10px 50px ;
    border-radius:6px ;
    text-align: center;
}
.HIRE-ME{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 50px;
    border-radius: 6px;
    color: white;
    font-weight: 700;
}
.top{
    background-image: url();
}
.flex-container{
    display flex:
    margin: bottom 10px;;
}

.half-width-ex{

}